{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-imports",
          {
            "lodash/fp": {
              "transform": "lodash/fp/${member}",
              "preventFullImport": true
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-imports",
          {
            "@material-ui/styles": {
              "transform": "@material-ui/styles/esm/${member}",
              "preventFullImport": true
            },
            "@material-ui/core/styles": {
              "transform": "@material-ui/core/esm/styles/${member}",
              "preventFullImport": true
            },
            "@material-ui/core": {
              "transform": "@material-ui/core/esm/${member}",
              "preventFullImport": true
            },
            "@material-ui/icons": {
              "transform": "@material-ui/icons/esm/${member}",
              "preventFullImport": true
            },
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            },
            "lodash/fp": {
              "transform": "lodash/fp/${member}",
              "preventFullImport": true
            }
          }
        ],
        "transform-react-remove-prop-types"
      ]
    }
  }
}
